<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762777123695-9pqf2hm6vn3hof1jmf7u1lf5gcbtrhdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762777123695-9pqf2hm6vn3hof1jmf7u1lf5gcbtrhdg</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ls3ofLIZQdWpIr6IYKFCFjhTiNfhEGU</string>
	<key>GCM_SENDER_ID</key>
	<string>762777123695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterReminder</string>
	<key>PROJECT_ID</key>
	<string>water-reminder-app-1</string>
	<key>STORAGE_BUCKET</key>
	<string>water-reminder-app-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762777123695:ios:881743bb426c2391e8069a</string>
</dict>
</plist>